@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tiptap Task List Styles */
ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
}
ul[data-type="taskList"] li > label {
  margin-right: 0.5rem;
  user-select: none;
}
ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}
ul[data-type="taskList"] input[type="checkbox"] {
  cursor: pointer;
  margin-top: 0.25rem;
}

/* Tiptap Placeholder Styles */
.tiptap p.is-editor-empty:first-child::before {
  color: hsl(var(--bc) / 0.4);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Force text wrapping for long continuous strings (like URLs) */
.prose {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.prose a {
  word-break: break-all;
}
  
/* React DatePicker Flex Fix */  
.react-datepicker { display: flex !important; }  
.react-datepicker__time-container { border-left: 1px solid hsl(var(--bc) / 0.1); } 
